* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Hack Nerd Font Mono;
  font-size: 20px;
}

window#waybar {
  background-color: #000000;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #2d2d2d;
  color: #ffffff;
}

#workspaces button.active {
  color: #000000;
  background-color: #ffffff;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #000000;
  background-color: #ffffff;
}

#workspaces button.urgent {
  background-color: #ff0000;
  color: #ffffff;
}

#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #2d2d2d;
  color: #ffffff;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #ffff00;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
}

#clock {
  font-family: Hack Nerd Font Mono;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
