* {
  font-family: "Hack Nerd Font Mono";
  font-size: 20px;
  color: #dcdfe1;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

#workspaces,
#clock,
#tray {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 4px 6px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 10px;
  border-width: 0px;
}

#custom-gpu,
#custom-power {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 6px;
  margin-right: 6px;
  padding: 4px 2px;
  border-radius: 0 10px 10px 0;
  border-width: 0px;
}

#network,
#custom-lock {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 6px;
  margin-left: 6px;
  padding: 4px 2px;
  border-radius: 10px 0 0 10px;
  border-width: 0px;
}

#battery,
#pulseaudio,
#memory,
#cpu {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 6px;
  padding: 4px 2px;
  border-width: 0px;
}

#pulseaudio.muted {
  color: #ff0000;
  padding-top: 0;
}

#workspaces button:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#custom-gpu:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-lock:hover,
#custom-power:hover,
#window:hover {
  background-color: rgba(70, 75, 90, 0.9);
}

#workspaces button.active {
  background-color: rgba(148, 0, 211, 0.9);
  color: #ffffff;
}

#workspaces button {
  background: transparent;
  border: none;
  padding: 2px 8px;
  margin: 0 2px;
}
